#treemap-box {
  float: left;
  width: 800px;
  height: 600px;
  font-family: Arial;
  font-size: 11px;
}

.health-unknown { background-color: #822980; /*#0095d5;*/ }
.health-green { background-color: #008a2b; }
.health-yellow { background-color: #dddd00; }
.health-red { background-color: #de5231; }

.treemap-label { color: white; }

.treemap-node:hover {
  border-right: 1px solid cyan;
  border-bottom: 1px solid cyan;
  border-spacing: 0px;
  border-padding: 0px;
}

#data-json { float: right; }

